@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    box-sizing: border-box;
    padding: 0px; margin: 0px;
    /* border: 1px solid red; */
    font-family: 'nanumgothic';
}
body { font-family: 'Nanum Gothic', sans-serif !important; }
li{ list-style-type: none; }
a{ color: black; text-decoration: none; }

/* 전체구역 */
html{ height: 100%; }
body{ min-height: 100%;}
#wrap{ display: flex; height: 100%;}

/* 사이드바 */
#sideMenu{
    border: 1px solid #eeeeee;
    height: 100%;
} 
#sideMenu .logoLink{ display: flex; align-items: center; }
#sideMenu .logoLink > img{ width: 40px; margin: 10px; }
#sideMenu .logoLink > span{ font-weight: bold; font-size: 20px;}

/*  Member_Login.jsx 애니메이션 정의 | rw 25-03-25 생성 */
@keyframes fadeInMove {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

